<table class="table table-striped">
  <caption>
    To add characters click 
    <%= login_with_eve %>
    and select the character you wish to add
  </caption>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Corporation Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <%= render partial: 'character', object: character %>
    <% end %>
  </tbody>
</table>