<table class="table">
  <caption>
    To add characters click 
    <%= login_with_eve %>
    and select the character you wish to add
  </caption>
  <thead>
    <tr>
      <th>Portrait</th>
      <th>Name</th>
      <th>CorporationID</th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <%= render partial: 'character', object: character %>
    <% end %>
  </tbody>
</table>