<table class="table table-striped">
  <caption>Top Ticks</caption>
  <thead>
    <tr>
      <th></th>
      <th>Timestamp</th>
      <th class="numeric">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @top_ticks.each do |record| %>
      <tr>
        <td><%= record_icon(record) %></td>
        <td><%= record.ts %></td>
        <td class="numeric"><%= number_to_isk record.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @top_ticks %>