.navbar-brand > img {
  margin-top: -11px;
  margin-left: -11px;
} 

body {
  background: #000 image-url("fp-bg2") no-repeat 50% 0;
  padding-top: 40px;
}

.table > tbody > tr > td {
  vertical-align: middle
}

th.numeric, td.numeric {
  text-align: right;
}