th.icon {
  width: 49px;
}

th.timestamp {
  width: 187px;
}

th.details {
  width: 139px;
}

.cursor-hand {
  cursor: pointer;
}
.label-purple {
  background-color: #8e10fc;
}

.navbar-brand > img {
  margin-top: -11px;
  margin-left: -11px;
}

.navbar-brand > a > img.portrait {
  margin-top: -7px;
  margin-left: 2px;
}

body {
  background: #000 image-url("fp-bg2") no-repeat 50% 0;
  background-size: cover;
  padding-top: 40px;
}

.table > tbody > tr > td {
  vertical-align: middle
}

th.numeric, td.numeric {
  text-align: right;
}