.navbar-brand > img {
  margin-top: -11px;
  margin-left: -11px;
} 

body {
  padding-top: 40px
}

.table > tbody > tr > td {
  vertical-align: middle
}

th.numeric, td.numeric {
  text-align: right;
}