---
http_interactions:
- request:
    method: get
    uri: https://esi.tech.ccp.is/v3/corporations/1000009/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 10:30:52 GMT
      Warning:
      - 299 - This endpoint is deprecated.
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '59'
    body:
      encoding: UTF-8
      string: '{"corporation_name":"Caldari Provisions","ticker":"CP","member_count":236030,"ceo_id":3004073,"corporation_description":"Caldari
        Provisions is one of the companies that were created by war veterans of the
        Gallente-Caldari War. Specializing in the distribution of supply and logistics,
        Caldari Provisions have carved themselves a nice little niche within the Caldari
        State and are looking towards expanding their operation in other empires.","tax_rate":0.11,"creator_id":1,"url":"None"}'
  recorded_at: Fri, 23 Mar 2018 11:19:16 GMT
- request:
    method: post
    uri: https://login.eveonline.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"XC2dQmbNqVNKtlowKHMl-l4SdXvJR6P_suvCoa38AsI1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZDhlNjRmMGQwYTRlNGE0ZDg2NzA1MmIwYzkzZWMwMWU6Y1pRdmlwMmw5WXk3dGJ6bWppQkNlcnhoc1hKM2l3SEh4cEV5N09CVw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"HVghZUlvAMLBKBUr4fpDPMuSr2R-wq2ZwVbKljQlcSNl46vfEVZJXNvQSGaje_73HPdpIkEGsEWS6WksSTgvHA2","token_type":"Bearer","expires_in":1200,"refresh_token":"XC2dQmbNqVNKtlowKHMl-l4SdXvJR6P_suvCoa38AsI1"}'
  recorded_at: Fri, 23 Mar 2018 11:19:16 GMT
[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v2/characters/810699209/wallet/journal/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer HVghZUlvAMLBKBUr4fpDPMuSr2R-wq2ZwVbKljQlcSNl46vfEVZJXNvQSGaje_73HPdpIkEGsEWS6WksSTgvHA2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 10:40:28 GMT
      Warning:
      - 299 - This endpoint is deprecated.
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '43'
    body:
      encoding: UTF-8
      string: '[{"date":"2018-03-21T22:11:25Z","ref_id":15320930223,"ref_type":"bounty_prizes","first_party_id":1000125,"first_party_type":"corporation","second_party_id":810699209,"second_party_type":"character","amount":359616.07,"balance":5194870641.5114,"reason":"24064:
        1,24063: 1,24071: 1","tax":44446.93,"extra_info":{"system_id":30045324}},{"date":"2018-03-21T22:02:05Z","ref_id":15320902760,"ref_type":"agent_mission_time_bonus_reward","first_party_id":3019286,"first_party_type":"character","second_party_id":810699209,"second_party_type":"character","amount":310610.0,"balance":5194511025.4414,"reason":"","tax":38390.0,"extra_info":{"character_id":3019286}},{"date":"2018-03-21T22:02:05Z","ref_id":15320902759,"ref_type":"agent_mission_reward","first_party_id":3019286,"first_party_type":"character","second_party_id":810699209,"second_party_type":"character","amount":336420.0,"balance":5194200415.4414,"reason":"","tax":41580.0,"extra_info":{"character_id":3019286}},{"date":"2018-03-21T21:27:49Z","ref_id":15320794227,"ref_type":"market_escrow","first_party_id":810699209,"first_party_type":"character","amount":-7309149.12,"balance":5193863995.[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v3/universe/types/24064/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-us
      Content-Type:
      - application/json
      Etag:
      - W/"f38ba5849e0d1c56a0e18a57122366620c5039b6440afbf0918b1258"
      Last-Modified:
      - Fri, 23 Mar 2018 11:12:19 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '43'
    body:
      encoding: UTF-8
      string: '{"type_id":24064,"name":"Corelum Chief Sentinel","description":"This
        is a fighter for the Serpentis Corporation. It is protecting the assets of
        the Serpentis Corporation and may attack anyone it perceives as a threat or
        easy pickings. Threat level: Deadly","published":false,"group_id":631,"radius":150.0,"volume":112000.0,"packaged_volume":112000.0,"capacity":480.0,"portion_size":1,"mass":11200000.0,"graphic_id":1815,"dogma_attributes":[{"attribute_id":192,"value":1.0},{"attribute_id":4,"value":11200000.0},{"attribute_id":854,"value":1.0},{"attribute_id":263,"value":1200.0},{"attribute_id":264,"value":0.0},{"attribute_id":9,"value":1800.0},{"attribute_id":267,"value":0.51},{"attribute_id":268,"value":0.41},{"attribute_id":269,"value":0.71},{"attribute_id":270,"value":0.61},{"attribute_id":271,"value":0.51},{"attribute_id":272,"value":0.41},{"attribute_id":273,"value":0.71},{"attribute_id":274,"value":0.61},{"attribute_id":665,"value":12000.0},{"attribute_[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v1/universe/groups/631/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-us
      Content-Type:
      - application/json
      Etag:
      - W/"f38ba5849e0d1c56a0e18a57122366620c5039b6440afbf0918b1258"
      Last-Modified:
      - Fri, 23 Mar 2018 11:12:19 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '43'
    body:
      encoding: UTF-8
      string: '{"group_id":631,"name":"Deadspace Serpentis Cruiser","published":false,"category_id":11,"types":[11720,14347,16168,17033,17039,17042,17044,17045,17046,17047,17048,17055,17056,17110,17111,17112,17114,17123,17124,17125,17127,24063,24064,24065,24066,24067,24068,24069,24070,24071,24072,24073,24074,32192]}'
  recorded_at: Fri, 23 Mar 2018 11:19:17 GMT
[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v2/alliances/1354830081/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 11:46:13 GMT
      Warning:
      - 299 - This endpoint is deprecated.
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
    body:
      encoding: UTF-8
      string: '{"alliance_name":"Goonswarm Federation","ticker":"CONDI","date_founded":"2010-06-01T05:36:00Z","executor_corp":1344654522}'
  recorded_at: Fri, 23 Mar 2018 12:15:45 GMT
[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v1/dogma/attributes/512/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f38ba5849e0d1c56a0e18a57122366620c5039b6440afbf0918b1258"
      Last-Modified:
      - Fri, 23 Mar 2018 11:12:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '14'
    body:
      encoding: UTF-8
      string: '{"attribute_id":512,"name":"modifyTargetSpeedChance","description":"Chance
        that  an entity will use a Stasis Web on a target.","icon_id":0,"default_value":0.0,"display_name":"","stackable":true,"high_is_good":true}'
  recorded_at: Fri, 23 Mar 2018 12:33:47 GMT
[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v1/dogma/attributes/514/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f38ba5849e0d1c56a0e18a57122366620c5039b6440afbf0918b1258"
      Last-Modified:
      - Fri, 23 Mar 2018 11:12:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '13'
    body:
      encoding: UTF-8
      string: '{"attribute_id":514,"name":"modifyTargetSpeedRange","description":"Range
        of entities Stasis Web","icon_id":0,"default_value":20000.0,"display_name":"","unit_id":1,"stackable":true,"high_is_good":true}'
  recorded_at: Fri, 23 Mar 2018 12:33:47 GMT
[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v4/characters/810699209/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 12:46:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '43'
    body:
      encoding: UTF-8
      string: '{"corporation_id":1000009,"birthday":"2006-09-10T22:49:00Z","name":"Adrian
        Dent","gender":"male","race_id":1,"bloodline_id":2,"description":"<font size=\"12\"
        color=\"#bfffffff\">I used to be a Caracal pilot just like you, but then I
        got an electron bomb to the hull<br><br></font><font size=\"12\" color=\"#ffffa600\"><loc><a
        href=\"http://i.imgur.com/N6hZTIo.jpg\">PWNZORZ</a></loc></font>","ancestry_id":8,"security_status":5.008821879968847}'
  recorded_at: Fri, 23 Mar 2018 12:46:17 GMT
- request:
    method: get
    uri: https://esi.tech.ccp.is/v2/characters/810699209/wallet/journal/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer HVghZUlvAMLBKBUr4fpDPMuSr2R-wq2ZwVbKljQlcSNl46vfEVZJXNvQSGaje_73HPdpIkEGsEWS6WksSTgvHA2
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 14:30:21 UTC
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '39'
    body:
      encoding: UTF-8
      string: '{"error": "expired", "sso_status": 400}'
  recorded_at: Fri, 23 Mar 2018 14:30:21 GMT
- request:
    method: get
    uri: https://esi.tech.ccp.is/v2/characters/810699209/wallet/journal/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer HVghZUlvAMLBKBUr4fpDPMuSr2R-wq2ZwVbKljQlcSNl46vfEVZJXNvQSGaje_73HPdpIkEGsEWS6WksSTgvHA2
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 14:30:21 UTC
      X-Esi-Error-Limit-Remain:
      - '99'
      X-Esi-Error-Limit-Reset:
      - '28'
    body:
      encoding: UTF-8
      string: '{"error": "expired", "sso_status": 400}'
  recorded_at: Fri, 23 Mar 2018 14:30:32 GMT
recorded_with: VCR 3.0.3
