---
http_interactions:
- request:
    method: post
    uri: https://login.eveonline.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"XC2dQmbNqVNKtlowKHMl-l4SdXvJR6P_suvCoa38AsI1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZDhlNjRmMGQwYTRlNGE0ZDg2NzA1MmIwYzkzZWMwMWU6Y1pRdmlwMmw5WXk3dGJ6bWppQkNlcnhoc1hKM2l3SEh4cEV5N09CVw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"ZS0jHJY-L8RFQtvK_ARkNGYOq7k7yY-PXAhDJbidpTL9jI6cJsVy8C1MxtN_d4AA2rp8GwE_sRd66Y--ijlkvw2","token_type":"Bearer","expires_in":1200,"refresh_token":"XC2dQmbNqVNKtlowKHMl-l4SdXvJR6P_suvCoa38AsI1"}'
  recorded_at: Fri, 23 Mar 2018 10:04:48 GMT
[...]
- request:
    method: get
    uri: https://esi.tech.ccp.is/v2/characters/810699209/wallet/journal/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ZS0jHJY-L8RFQtvK_ARkNGYOq7k7yY-PXAhDJbidpTL9jI6cJsVy8C1MxtN_d4AA2rp8GwE_sRd66Y--ijlkvw2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Mar 2018 09:35:35 GMT
      Warning:
      - 299 - This endpoint is deprecated.
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"date":"2018-03-21T22:11:25Z","ref_id":15320930223,"ref_type":"bounty_prizes","first_party_id":1000125,"first_party_type":"corporation","second_party_id":810699209,"second_party_type":"character","amount":359616.07,"balance":5194870641.5114,"reason":"24064:
        1,24063: 1,24071: 1","tax":44446.93,"extra_info":{"system_id":30045324}},{"date":"2018-03-21T22:02:05Z","ref_id":15320902760,"ref_type":"agent_mission_time_bonus_reward","first_party_id":3019286,"first_party_type":"character","second_party_id":810699209,"second_party_type":"character","amount":310610.0,"balance":5194511025.4414,"reason":"","tax":38390.0,"extra_info":{"character_id":3019286}},{"date":"2018-03-21T22:02:05Z","ref_id":15320902759,"ref_type":"agent_mission_reward","first_party_id":3019286,"first_party_type":"character","second_party_id":810699209,"second_party_type":"character","amount":336420.0,"balance":5194200415.4414,"reason":"","tax":41580.0,"extra_info":{"character_id":3019286}},{"date":"2018-03-21T21:27:49Z","ref_id":15320794227,"ref_type":"market_escrow","first_party_id":810699209,"first_party_type":"character","amount":-7309149.12,"balance":5193863995.[...]
